@inherits LayoutComponentBase

<div class="page">
    <header class="topbar">
        <a class="brand" href="">Contoso Bank</a>
        <NavMenu />
    </header>
    <main class="content">
        @Body
    </main>
</div>
